.topFive__header {
    display: flex;
    align-items: center;
}

.topFive__avg {
    background: #e9e3e8;
    border-radius: 5px;
    padding: 4px;
    margin-top: .6rem;
}

.topFive__avg-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: .7rem;
    margin-top: 4px;
    cursor: pointer;
    transition: all .1s ease-out;
}

.topFive__avg-label:hover {
    border: 1px solid #c60744;
}

.topFive__avg-label:first-child {
    margin-top: 0;
}